<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb13.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb14.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb16.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,120},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb22.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb23.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>hlb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,116}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rLbbwz_luobo.png</string>
            <key>size</key>
            <string>{1415,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c2ff77c7af117a387a3cbb7d7936050:e30d9c20feb8835f199d49d9a819f97d:53ffcd756861658efb664a47aaf448bd$</string>
            <key>textureFileName</key>
            <string>rLbbwz_luobo.png</string>
        </dict>
    </dict>
</plist>
